.post{max-width: 400px;border-radius: 10px;position: relative;
    background-color: white; margin: 15px 25px ;color:black;
    padding: 10px;margin:15px} 
.remove{position: absolute;border: 2px solid;
background-color: rgba(255, 111, 0, 0.612);
right: 10px;bottom: 7px;
border-radius: 5px;padding: 3px;color: black;}
body{background-color: rgb(42, 41, 41);color: white;}
.date{font-weight: bold;font-style: italic; font-size: 0.8em;margin-left: 20px;}
.input{width: 90%; margin: 5px; padding: 4px;}
.buts{background-color: rgb(48, 174, 233); color: white; padding: 27px; 
    border-radius: 250px; width: 100px; margin: 5px;}
    .input-container{display: flex;flex-direction: column;
    justify-content: flex-start; background-color: rgb(96, 88, 88);
padding: 20px; border-radius: 10px; max-width: 500px; margin: auto;}
.link{text-decoration: none;}
.detail{max-width: 600px;background-color: white;color: black;
padding: 20px;border-radius: 15px;position: relative;}
.Thunk{position: absolute;border: 2px solid;
    background-color: rgba(255, 111, 0, 0.612);
    right: 10px;bottom: 40px;
    border-radius: 5px;padding: 3px;color: black;}